In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('books.zip')

In [3]:
df.head()

,index,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
0,0,1975.0,Beowulf,"Unknown, Seamus Heaney",en-US,Novice,3.42,155903,genre fiction,34160.0,20496.0,4.88,1,HarperCollins Publishers,7000
1,1,1987.0,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",eng,Intermediate,4.23,145267,genre fiction,12437.5,7462.5,1.99,2,HarperCollins Publishers,6250
2,2,2015.0,Go Set a Watchman,Harper Lee,eng,Novice,3.31,138669,genre fiction,47795.0,28677.0,8.69,3,"Amazon Digital Services, Inc.",5500
3,3,2008.0,When You Are Engulfed in Flames,David Sedaris,en-US,Intermediate,4.04,150898,fiction,41250.0,24750.0,7.50,3,Hachette Book Group,5500
4,4,2011.0,Daughter of Smoke & Bone,Laini Taylor,eng,Intermediate,4.04,198283,genre fiction,37952.5,22771.5,7.99,4,Penguin Group (USA) LLC,4750

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                1070 non-null   int64
 1   Publishing Year      1069 non-null   float64
 2   Book Name            1047 non-null   object
 3   Author               1070 non-null   object
 4   language_code        1017 non-null   object
 5   Author_Rating        1070 non-null   object
 6   Book_average_rating  1070 non-null   float64
 7   Book_ratings_count   1070 non-null   int64
 8   genre                1070 non-null   object
 9   gross sales          1070 non-null   float64
 10  publisher revenue    1070 non-null   float64
 11  sale price           1070 non-null   float64
 12  sales rank           1070 non-null   int64
 13  Publisher            1070 non-null   object
 14  units sold           1070 non-null   int64
dtypes: float64(5), int64(4), object(6)
memory usage: 125.5+ KB

In [5]:
df = df[df['Publishing Year']> 1900.0]
df

,index,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
0,0,1975.0,Beowulf,"Unknown, Seamus Heaney",en-US,Novice,3.42,155903,genre fiction,34160.00,20496.000,4.88,1,HarperCollins Publishers,7000
1,1,1987.0,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",eng,Intermediate,4.23,145267,genre fiction,12437.50,7462.500,1.99,2,HarperCollins Publishers,6250
2,2,2015.0,Go Set a Watchman,Harper Lee,eng,Novice,3.31,138669,genre fiction,47795.00,28677.000,8.69,3,"Amazon Digital Services, Inc.",5500
3,3,2008.0,When You Are Engulfed in Flames,David Sedaris,en-US,Intermediate,4.04,150898,fiction,41250.00,24750.000,7.50,3,Hachette Book Group,5500
4,4,2011.0,Daughter of Smoke & Bone,Laini Taylor,eng,Intermediate,4.04,198283,genre fiction,37952.50,22771.500,7.99,4,Penguin Group (USA) LLC,4750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1065,1065,2014.0,Gray Mountain,John Grisham,eng,Intermediate,3.52,37379,nonfiction,104.94,62.964,0.99,1268,"Amazon Digital Services, Inc.",106
1066,1066,1989.0,The Power of One,Bryce Courtenay,eng,Excellent,4.34,57312,genre fiction,846.94,508.164,7.99,1270,Random House LLC,106
1067,1067,1930.0,The Maltese Falcon,Dashiell Hammett,eng,Intermediate,3.92,58742,genre fiction,846.94,508.164,7.99,1271,Hachette Book Group,106
1068,1068,2011.0,Night Road,Kristin Hannah,en-US,Excellent,4.17,58028,genre fiction,104.94,62.964,0.99,1272,"Amazon Digital Services, Inc.",106
1069,1069,1999.0,Tripwire,Lee Child,eng,Excellent,4.07,55251,genre fiction,316.94,0.000,2.99,1273,"Amazon Digital Services, Inc.",106

In [6]:
df['Publishing Year'] = df['Publishing Year'].astype(int)

In [7]:
df

,index,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
0,0,1975,Beowulf,"Unknown, Seamus Heaney",en-US,Novice,3.42,155903,genre fiction,34160.00,20496.000,4.88,1,HarperCollins Publishers,7000
1,1,1987,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",eng,Intermediate,4.23,145267,genre fiction,12437.50,7462.500,1.99,2,HarperCollins Publishers,6250
2,2,2015,Go Set a Watchman,Harper Lee,eng,Novice,3.31,138669,genre fiction,47795.00,28677.000,8.69,3,"Amazon Digital Services, Inc.",5500
3,3,2008,When You Are Engulfed in Flames,David Sedaris,en-US,Intermediate,4.04,150898,fiction,41250.00,24750.000,7.50,3,Hachette Book Group,5500
4,4,2011,Daughter of Smoke & Bone,Laini Taylor,eng,Intermediate,4.04,198283,genre fiction,37952.50,22771.500,7.99,4,Penguin Group (USA) LLC,4750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1065,1065,2014,Gray Mountain,John Grisham,eng,Intermediate,3.52,37379,nonfiction,104.94,62.964,0.99,1268,"Amazon Digital Services, Inc.",106
1066,1066,1989,The Power of One,Bryce Courtenay,eng,Excellent,4.34,57312,genre fiction,846.94,508.164,7.99,1270,Random House LLC,106
1067,1067,1930,The Maltese Falcon,Dashiell Hammett,eng,Intermediate,3.92,58742,genre fiction,846.94,508.164,7.99,1271,Hachette Book Group,106
1068,1068,2011,Night Road,Kristin Hannah,en-US,Excellent,4.17,58028,genre fiction,104.94,62.964,0.99,1272,"Amazon Digital Services, Inc.",106
1069,1069,1999,Tripwire,Lee Child,eng,Excellent,4.07,55251,genre fiction,316.94,0.000,2.99,1273,"Amazon Digital Services, Inc.",106

In [9]:
df.dropna(subset = ['Book Name'],inplace = True)

In [10]:
df2 = df.sort_values('Book Name').reset_index()

In [11]:
df2

,level_0,index,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
0,456,456,2011,A Monster Calls,"Patrick Ness, Jim Kay, Siobhan Dowd",eng,Excellent,4.36,104579,genre fiction,1842.45,1105.470,10.65,505,Random House LLC,4671
1,315,315,1950,Animal Farm & 1984,"George Orwell, Christopher Hitchens",eng,Excellent,4.26,116197,genre fiction,267.30,0.000,0.99,338,"Amazon Digital Services, Inc.",270
2,489,489,2004,The Tale of Despereaux,"Kate DiCamillo, Timothy Basil Ering",en-US,Intermediate,4.00,113066,genre fiction,1153.35,692.010,6.99,541,Penguin Group (USA) LLC,4455
3,761,761,2005,'Salem's Lot The Illustrated Edition,"Stephen King, Jerry N. Uelsmann",eng,Excellent,4.25,72797,genre fiction,770.24,462.144,6.64,879,Hachette Book Group,30672
4,156,156,2005,1776,David McCullough,eng,Intermediate,4.06,130293,genre fiction,7814.40,4688.640,11.84,168,Random House LLC,660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,969,969,1982,ç¾Šã‚’ã‚ãã‚‹å†’é™º [HitsujiwomegurubÅken],"Haruki Murakami, Alfred Birnbaum",eng,Intermediate,3.94,55262,nonfiction,960.29,576.174,8.81,1147,Simon and Schuster Digital Sales Inc,4240
984,551,551,2013,è‰²å½©ã‚’æŒãŸãªã„å¤šå´Žã¤ãã‚‹ã¨ã€å½¼ã...,"Haruki Murakami, Philip Gabriel",eng,Intermediate,3.82,67873,fiction,594.51,0.000,3.99,616,"Amazon Digital Services, Inc.",4023
985,821,821,2007,é»’åŸ·äº‹ I [Kuroshitsuji I],"Yana Toboso, Tomo Kimura",eng,Excellent,4.37,74378,nonfiction,1366.86,820.116,11.99,960,Penguin Group (USA) LLC,2889
986,362,362,2002,é‹¼ã®éŒ¬é‡‘è¡“å¸« 1,"Hiromu Arakawa, Akira Watanabe",eng,Famous,4.49,93990,genre fiction,226.71,0.000,0.99,391,"Amazon Digital Services, Inc.",6183
987,652,652,2010,é€²æ’ƒã®å·¨äºº 1,"Hajime Isayama, Sheldon Drzka",eng,Famous,4.42,82565,genre fiction,118.80,71.280,0.99,748,"Amazon Digital Services, Inc.",42552

In [12]:
df2 = df2.iloc[:969]

In [13]:
df2.dropna(subset = ['language_code'], inplace = True)

C:\Users\30698\AppData\Local\Temp\ipykernel_13836\1556706409.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.dropna(subset = ['language_code'], inplace = True)

In [14]:
df2

,level_0,index,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
0,456,456,2011,A Monster Calls,"Patrick Ness, Jim Kay, Siobhan Dowd",eng,Excellent,4.36,104579,genre fiction,1842.45,1105.470,10.65,505,Random House LLC,4671
1,315,315,1950,Animal Farm & 1984,"George Orwell, Christopher Hitchens",eng,Excellent,4.26,116197,genre fiction,267.30,0.000,0.99,338,"Amazon Digital Services, Inc.",270
2,489,489,2004,The Tale of Despereaux,"Kate DiCamillo, Timothy Basil Ering",en-US,Intermediate,4.00,113066,genre fiction,1153.35,692.010,6.99,541,Penguin Group (USA) LLC,4455
3,761,761,2005,'Salem's Lot The Illustrated Edition,"Stephen King, Jerry N. Uelsmann",eng,Excellent,4.25,72797,genre fiction,770.24,462.144,6.64,879,Hachette Book Group,30672
4,156,156,2005,1776,David McCullough,eng,Intermediate,4.06,130293,genre fiction,7814.40,4688.640,11.84,168,Random House LLC,660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
963,111,111,2007,World Without End,Ken Follett,eng,Intermediate,4.23,128715,genre fiction,905.85,543.510,0.99,117,Random House LLC,915
964,307,307,1991,Xenocide,Orson Scott Card,eng,Intermediate,3.77,104467,genre fiction,1707.15,1024.290,5.99,329,Simon and Schuster Digital Sales Inc,285
965,668,668,2003,"Y: The Last Man, Vol. 1: Unmanned","Brian K. Vaughan, Pia Guerra, JosÃ© MarzÃ¡n Jr.",eng,Excellent,4.12,81326,genre fiction,117.81,0.000,0.99,767,"Amazon Digital Services, Inc.",38664
966,370,370,2001,Year of Wonders: A Novel of the Plague,Geraldine Brooks,eng,Intermediate,4.00,104283,genre fiction,221.76,0.000,0.99,401,"Amazon Digital Services, Inc.",6048
968,15,15,1974,Zen and the Art of Motorcycle Maintenance,Robert M. Pirsig,eng,Intermediate,3.76,139411,genre fiction,16297.34,0.000,4.99,16,"Amazon Digital Services, Inc.",3266

In [17]:
df2.to_csv('Book Sales.zip',index = False)

In [19]:
df['genre'].unique()

array(['genre fiction', 'fiction', 'nonfiction', 'children'], dtype=object)